<% cache post do %>
<div id="<%= dom_id post %>" class="p-5 flex flex-col sm:flex-row justify-between items-center">
  <div class="flex-1">
    <h2 class="text-lg font-semibold text-gray-700">
      <%= link_to post.title, post_path(slug: post.slug), class: "hover:text-blue-600" %>
    </h2>
    <div class="text-sm text-gray-500 mt-1 flex space-x-3">
      <span>By: <%= author_display_name(post.user) %></span>
      <span><%= format_post_date(post.published_at) %></span>
    </div>
    <div class="text-gray-600 mt-3 line-clamp-3"><%= (simple_format(post.body)) %></div>
  </div>
</div>
<% end %>
